{% extends '_layout.html' %}
{% block content %}
<h1>Create a Warehouse</h1>
<form action ="{{url_for('warehouse_create')}}" method='post'>
  <div class ="form-group">
  <label for="">New Warehouse</label>
  <input type ="text" name ="warehouse_location" store class ="form-control">
  </div>

  <select name="store_id">
    {% for store in stores %}
      <option value="{{store.id}}">{{store.name}}</option>
    {% endfor %}
  </select>

  <button type ="submit" class="btn btn-primary">Add a warehouse</button>
</form>

{% endblock %}